section{
    height: 70%;
}
.map{
    width: 60%;
    height: 100%;
    float: left;
    background: black;
}
.login{
    width: 40%;
    height: 100%;
    float: left;
}
#login-form{

    width:200px;
    margin:100px auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;

}
#login-form input, #login-form label{
    display:block;
}
#login-form label{
    margin-top: 10px;
}
#login-form input{
    margin-top: 5px;
}
#login-form input[type='image']{
    margin: 10px auto;
}

#dis-form{

    width:200px;
    margin:100px auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;

}

#test{
    width:400px;
    margin:100px auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}
